<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
        <li class="nav-general {% if page.url contains 'general' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/general">General</a></li>
        <li class="nav-general {% if page.url contains 'techstuff' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/techstuff">TechStuff</a></li>
        <li class="nav-general {% if page.url contains 'education' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/education">Education</a></li>
        <li class="nav-general {% if page.url contains 'nus' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/nus">NUS</a></li>
        <li class="nav-general {% if page.url contains 'entrepreneurship' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/entrepreneurship">Entrepreneurship</a></li>
        <li class="nav-general {% if page.url contains 'music' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/music">Music</a></li>
        <li class="nav-general {% if page.url contains 'random' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/random">Random</a></li>
        <li class="nav-general {% if page.url contains 'speeches' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/speeches">Speeches</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
    <br>
    <br>
    <br>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Unit1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9698859336751728"
     data-ad-slot="7346033495"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<span class="nav-cover"></span>
